.div-footer {
    display: flex;
 
    }


.left-side-footer {
margin-right: auto;
    margin-right: 70px;
}


.logo-footer {
    color: #FFFFFF;
    font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;

}

.adress-footer {
    margin-top: 20px;
}
.contact-footer {
    background-color: #2F303A;
   padding-top: 60px;
   padding-bottom: 60px;
}

.footer-tel {
    margin-top: 9px;
}



.adress {
    color: #FFFFFF;
    font-weight: 400;
    font-style: normal;
font-size: 14px;
line-height: 1.7;
letter-spacing: 0.03em;
color: #FFFFFF;
}

.contact-li{
    margin-top: 9px;
}

.contact-adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
