.section-features {
    padding-top: 94px;
    padding-bottom: 94px;
}

.abilities {
    display: flex;

}

.abilities__items{
    width: 270px;

    &:not(:last-child) {
        margin-right: 30px; 
        }
}

.abilities__box{
    display: flex;
  align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
    border-radius: 5px;
   
  
}


.abilities__icon {
display: flex;
}

.ab-option {
    margin-bottom: 10px;
}

.abilities__option{
   
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.abilities__text {
    color: var(--accent-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}