
.port-list__img{
    position: relative;
    overflow: hidden;
    
 }

.port-list__overlay{
    background-color: rgba(33, 150, 243, 0.9);
    position:absolute;
   top: 0;
   left: 0;
   max-width: 100%;
   height: 100%;
   padding: 63px 24px;
   transform: translate(0,100%);
   transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
   transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


}
.port-list__overlay {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.port-list__item {
    border: #F5F4FA;
        margin-right: 30px;
        margin-bottom: 30px;
        position: relative;
    }

.port-list__item {
    transition:box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) ;

    &:hover,
    &:focus {
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    }

}



.port-list__box-text{
    padding: 20px 24px;
}

.port-list__wrapper {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover .port-list__overlay,
    &:focus .port-list__overlay  {
        transform: translate(0,0);
        color: #FFFFFF;
    }

}


